<div class="mt-5 py-5 px-4">
  <div class="text-center">
    <form>
      <input (keyup)="debounceFilter.next($event)"
      class="form-control ms-auto w-25 mb-4"
      type="search"
      placeholder="search">
    </form>
  </div>
  <base-photos [photos]="photoList | filterByDescription: filter"></base-photos>
  <div *ngIf="canLoadMore; else noMorePhotos" class="text-center">
    <base-load-button (onLoad)="loadMorePhotos()"  ></base-load-button>
  </div>
</div>
<ng-template #noMorePhotos>
  <p class="text-center text-muted" >No more photos to be loaded</p>
</ng-template>
