<div class="px-4">
  <base-search (filteredValue)="filter = $event" ></base-search>
  <base-photos [photos]="photoList | filterByDescription: filter"></base-photos>
  <div *ngIf="canLoadMore && photoList.length >= loadPerClick; else noMorePhotos" class="text-center">
    <base-load-button (onLoad)="loadMorePhotos()"  ></base-load-button>
  </div>
</div>
  <ng-template  #noMorePhotos>
    <p *ngIf="photoList.length > loadPerClick" class="text-center text-muted" >No more photos to be loaded</p>
  </ng-template>
