
h1 {
  font-family: 'Rubik 80s Fade', cursive;
  font-size: 4em;
}

.custom-container {
  height: 100vh;
}

.custom-img-size {
  max-height: 780px;
}

@media(max-width: 100px) {
  .custom-container {
    margin-top: 300px;
  }
}
