<div *ngIf="control.touched" class="position-absolute" >
  <small *ngIf="control.errors?.required" class="text-danger d-block mt-0 custom-font-size" >
    <i class="fa fa-exclamation-circle"></i>
    This field is compulsory
  </small>
  <small *ngIf="control.errors?.minlength" class="text-danger d-block mt-0 custom-font-size" >
    <i class="fa fa-exclamation-circle"></i>
    This field must contain at least {{control.errors?.minlength.requiredLength}} characters
  </small>
  <small *ngIf="control.errors?.maxlength" class="text-danger d-block mt-0 custom-font-size" >
    <i class="fa fa-exclamation-circle"></i>
   This field must not contain more than {{control.errors?.maxlength.requiredLength}} characters
  </small>
  <small *ngIf="control.errors?.email" class="text-danger d-block mt-0 custom-font-size" >
    <i class="fa fa-exclamation-circle"></i>
    Invalid email format
  </small>
  <small *ngIf="control.errors?.pattern" class="text-danger d-block mt-0 custom-font-size" >
    <i class="fa fa-exclamation-circle"></i>
    Only lowercase is allowed in this field
  </small>
  <small *ngIf="control.errors?.userAlreadyTaken" class="text-danger d-block mt-0 custom-font-size" >
    <i class="fa fa-exclamation-circle"></i>
    Username already taken
  </small>
</div>

