<div *ngIf="photoDetails$ | async as photoDetails" class="bg-white border">
  <div class="d-flex justify-content-center gap-4">
    <div class="col-lg-8 custom-width">
      <app-photo [url]="photoDetails.url" [description]="photoDetails.description"></app-photo>
    </div>
    <div class="col-lg-4 p-4">
      <small>
        <p class="fw-bold mb-1">Description:</p>
        <p class="text-left">{{photoDetails.description}}</p>
        <div class="text-left mb-4">
          <i class="fa fa-comment-o fa-2x ms-2 me-2"></i>{{ photoDetails.comments }}
          <i  (click)="openActionModal()" class="fa fa-trash-o fa-2x pull-right"></i>
      </div>
        <hr>
      </small>

      <ng-container *ngIf="!photoDetails.allowComments" [ngTemplateOutlet]="commentsDisabled" ></ng-container>

      <!--------------
        COMMENTS LIST
      ---------------->
      <div *ngIf="(photoComment$ | async) as comments">
        <ul class="list-unstyled custom-scroll-bar">
          <li *ngFor="let comment of comments">
            <a class="text-dark fw-bold me-1 text-decoration-none" [routerLink]="['/photo-list', comment.userName]">
              {{ comment.userName }}
            </a>
            <small>
              <em>
                {{ comment.date | date:'dd-MM-yyyy HH:mm' }}
              </em>
            </small>
            <p class="mb-2 text-muted">
              {{ comment.text }}
            </p>
          </li>
        </ul>

        <div *ngIf="photoDetails?.allowComments" class="mt-4">
          <form [formGroup]="form" (submit)="save()">
            <textarea formControlName="comment" class="form-control"></textarea>
            <base-validator [control]="form.controls.comment"></base-validator>
            <button class="btn btn-secondary mt-4 w-100" disabled [disabled]="form.invalid">Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TEMPLATES -->

<ng-template #commentsDisabled >
  <p class="text-muted">Comments have been disabled for this image.</p>
</ng-template>

<!-- MODAL -->

<app-action-modal confirmActionTitle="Delete"  (onConfirmAction)="remove()" ></app-action-modal>
